<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mvc_delegate_demo_shijie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB5E83361E399ED900D9EEEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB5E834F1E399ED900D9EEEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB5E835A1E399ED900D9EEEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
