<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>indexset_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBF08FA21F08E461009099DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF08FBB1F08E461009099DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF08FC61F08E462009099DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
