<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appdelegate_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB2E203A1ECBFE8F00B9077B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB2E20531ECBFE9000B9077B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB2E205E1ECBFE9000B9077B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
