<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zero_string_delete_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBA7A7831F3BE868002C3A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA7A79C1F3BE869002C3A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA7A7A71F3BE869002C3A4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
