<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>autoresizing_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB402F2E1E7297ED00F2C321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB402F471E7297ED00F2C321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB402F521E7297ED00F2C321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
