<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>class_addMethod_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB3D7B611EB32F40008AEE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3D7B7A1EB32F40008AEE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3D7B851EB32F40008AEE8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
