<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>private_method.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB0070111EF8AD8100F1625E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB00702A1EF8AD8100F1625E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0070351EF8AD8100F1625E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
