<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>[21]. getClass_and_class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB1FE3201EBB1E6500B2012D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB1FE3391EBB1E6500B2012D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB1FE3441EBB1E6500B2012D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
